@page "/"

<PageTitle>Home</PageTitle>

<div>
    Hello 
    <AuthorizeView>
        <Authorized>@context.User.Identity!.Name</Authorized>
        <NotAuthorized>Guest</NotAuthorized>
    </AuthorizeView>
</div>

Welcome to the student portal.
